{% extends "layout.html" %}
{% block body %}
  <div class="card text-center w-25 p-3" style="width: 18rem;">
  <img src="https://scontent-otp1-1.cdninstagram.com/vp/dc584fdd843a3bdfdf229187db998321/5CC1B03B/t51.2885-19/s150x150/39199941_2151513158461966_1193038191368601600_n.jpg?_nc_ht=scontent-otp1-1.cdninstagram.com" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Welcome to shop of Vault77!</h5>
        <p class="card-text">
    Dear 
    {% if name %}
    {{ name }},
    {% else %}
    customer,
    {% endif %}
      
  <p>Please refer to the following link in order to 
  <a href="http://127.0.0.1:5000/login/" class="card-link">Login</a></p>

  <p>Please refer to the following link for 
  <a href="http://127.0.0.1:5000/items/" class="card-link">Your Cart</a></p>
    </div>
  </div>
{% endblock %}
